header {
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100vw;
}

.header-size {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  flex-grow: 1;
  padding: 0 32px 0 32px;
}

.header-links {
  display: flex;
  gap: 32px;
}

.header-links > a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.active {
  color: lightgray;
}

.cart-indicator {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  left: 100%;
  bottom: 50%;
  font-size: 10px;
  text-align: center;
}
